
#global-nav ul li {
display: inline-block;
font-size: 0.875em;
line-height: 58px;
position: relative;
float: left;
}

#global-nav ul li a {
width: 100%;
height: 100%;
display: block;
padding: 2px 1.25em 0;
color: #999;
text-decoration: none;
-webkit-transition: color 0.75s ease-in,opacity 0.75s ease-out;
-moz-transition: color 0.75s ease-in,opacity 0.75s ease-out;
-o-transition: color 0.75s ease-in,opacity 0.75s ease-out;
transition: color 0.75s ease-in,opacity 0.75s ease-out;
/*@media (min-width:1024px){
			display:none;
      }

@media (min-width:400px){

		display:none;
   }*/
}



.wired-top-nav {
    @include position(fixed, 0px 0px auto 0px);
    @include prefixer(box-shadow, 0 0 3px rgba(0, 0, 0,.6), webkit moz ms o spec);
    background: $lightest-gray;
    height: 50px;
    letter-spacing: .05em;
    overflow: hidden;
    padding: 12px 7px 7px 7px;
    z-index: 90;
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
        height: 100px;
        .wired-logo {
            background-size: 100px;
            height: 100px;
            width: 100px;
        }
        .title-header {
            font-size: 2.5em;
            line-height: 1.75em;
            margin: 0 0 0 115px;
        }
     }
}

/////////////////
.wired-top-nav .nav-links {
display: block;
float: left;
margin: 1px 2px 0 10px;
padding: 0;
list-style: none;
}

.wired-top-nav .nav-links li {
float: left;
}

 li {
list-style: none;
}

.wired-top-nav .title-header {
float: left;
margin: -14px 0 0 60px;
font-size: 1em;
text-align: center;
text-transform: uppercase;
line-height: 25px;
letter-spacing: .15em;
opacity: .7;
font-family: $brandon!important;
font-weight: 400;
}

.wired-top-nav .nav-links .section-link.current-section, .wired-top-nav .nav-links .section-link:hover {
opacity: .7;
}

.wired-top-nav .nav-links .section-link {
float: left;
margin: 0 0 0 5px;
text-align: center;
text-decoration: none;
opacity: .2;
-webkit-transition-duration: 500ms;
-moz-transition-duration: 500ms;
-o-transition-duration: 500ms;
transition-duration: 500ms;
}

.wired-top-nav .nav-links .section-link {
width: 100%;
font-size: 1.1em;
color: #000;
text-transform: uppercase;
letter-spacing: .15em;
line-height: 23px;
font-family: "Generika Mono";
font-weight: 400;
padding: 0 5px;
}

/////////////////////


.wired-logo {
    @include position(fixed, 0px auto auto 0px);
    @include hide-text;
    background: url('http://www.wired.com/images_blogs/wiredscience/2013/11/w-lines.png');
    background-size: 50px;
    display: block;
    height: 50px;
    opacity: 1;
    overflow: hidden;
    width: 50px;
}


/* SOCIAL MEDIA  */

.social-sharing {
    display: none;
    float: right;
    margin: -35px 21px 0 0;
    z-index:999;
    padding-top:10px;
    @media (min-width: 480px) {
        display: block;
    }
    &.margin-top{
        margin-top:-20px;
    }
}

.social-icon {
    @include hide-text;
   // @extend %transition;
    float: left;
    height: 22px;
    margin: 0 0 0 21px;
    opacity: .2;

    &:hover {
        opacity: 1;
    }

    &.facebook {
        background: url('http://www.wired.com/images_blogs/wiredscience/2013/11/icon-facebook.png') no-repeat center;
        background-size: 100%;
        width: 9px;
    }
    &.twitter {
        background: url('http://www.wired.com/images_blogs/wiredscience/2013/11/icon-twitter.png') no-repeat center;
        background-size: 100%;
        width: 10px;
    }
    &.email {
        background: url('http://www.wired.com/images_blogs/wiredscience/2013/11/icon-email.png') no-repeat center;
        background-size: 100%;
        width: 27px;
    }
}



